html,
body {
  padding: 0;
  margin: 0;
}

html {
  background: rebeccapurple;
  color: papayawhip;
  min-height: 100%;
  font-family: system, -apple-system, '.SFNSText-Regular', 'San Francisco',
    'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif,
    'Apple Color Emoji', /* Emojis*/ 'Segoe UI Emoji',
    /* Emojis*/ 'Segoe UI Symbol'; /* Emojis*/
}

body {
  margin: 0 auto;
}

pre,
code {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}

h1 {
  font-size: 5em;
}

img {
  width: 100%;

  object-fit: cover;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.photos-wrapper {
  max-width: 1200px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  padding: 10px;
}

.Component1 {
  padding: 20px;
  border: plum 3px solid;
  display: grid;
  justify-content: center;
  align-content: space-between;
}

.Component1.checked-on {
  background-color: plum;
}
