:root {
  --step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  background: rebeccapurple;
  color: papayawhip;
  min-height: 100%;
  font-family: system, -apple-system, '.SFNSText-Regular', 'San Francisco',
    'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif,
    'Apple Color Emoji', /* Emojis*/ 'Segoe UI Emoji',
    /* Emojis*/ 'Segoe UI Symbol'; /* Emojis*/
}

body {
  margin: 0 auto;
}

pre,
code {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}

h1 {
  font-size: var(--step-5);
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.photos-wrapper {
  max-width: 1200px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  padding: 10px;
}

.Component1 {
  padding: 20px;
  border: plum 3px solid;
  display: grid;
  justify-content: center;
  align-content: space-between;
}

.Component1.checked-on {
  background-color: plum;
}

.download-button {
  border: none;
  cursor: pointer;
  background-color: aqua;
  visibility: hidden;
  position: fixed;
  height: 0vh;
  bottom: 0vh;
  left: 0;
  width: 100vw;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.download-button.download-on {
  visibility: visible;
  height: 5vh;
}
